@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
    font-family: 'Inter', sans-serif;
    background: radial-gradient(circle at top right, #0f172a, #020617);
    color: #f8fafc;
    margin: 0;
    overflow-x: hidden;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap');